@using Countries.Models;

<h1> Welcome to the Country Database. Click on a country to learn more about it.</h1>

@* <a href = '/countries/:id'> @Model.Country.get();> *@

  @* @foreach (Country item in ) *@
