<h1> Welcome to the Country Database. Click on a country to learn more about it.</h1>

@* <a href = '/countries'> @Model.Country.get();</a> *@

  @foreach (var item in Model)
  {
    <li><a href=/@item.IdCode> @item.Name</a></li>
  }
}
